#items {
    position: relative;
    width: 50%;
    float: left;
}

.item {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.col-1 {
    left: 0px;
}

.col-2 {
    left: 50px;
}

.col-3 {
    left: 100px;
}

.col-4 {
    left: 150px;
}

.col-5 {
    left: 200px;
}

.col-6 {
    left: 250px;
}

.col-7 {
    left: 300px;
}

.col-8 {
    left: 350px;
}

.col-9 {
    left: 400px;
}

.col-10 {
    left: 450px;
}

/*-------------------------------------*/

.row-1 {
    top: 0px;
}

.row-2 {
    top: 50px;
}

.row-3 {
    top: 100px;
}

.row-4 {
    top: 150px;
}

.row-5 {
    top: 200px;
}

.row-6 {
    top: 250px;
}

.row-7 {
    top: 300px;
}

.row-8 {
    top: 350px;
}

.row-9 {
    top: 400px;
}

.row-10 {
    top: 450px;
}
#gameSettings{
    width: 35%;
    padding: 0;
    margin: 0;
    float: left;
}
input{
    display: block;
    margin-bottom: 2%;
}
.bomb{
    border: 1px solid red;
}
select{
    display: block;
    margin-bottom: 2%;
}

img{
    height: 10%;
    width: 10%;
    display: inline-block;
}
h1{
    display: inline-block;
    font-size: 400%;
}